section {
  height: 4.5rem;
  background-color: black;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  padding-right: 10px;

  div.menus {

  }

  div.profile {
    cursor: pointer;
    img.profile-img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
}
